<h1>Ingrese usuario</h1><br>

<form action="/login" method="post">
    <h2 style="font-size: 7mm;">Usuario:</h2>
    <br><input type="text" name="username"><br>
    <br>
    <h2 style="font-size: 7mm;">Contraseña:</h2>
    <br><input type="text" name="password"><br>
    <br><button type="submit">Login</button><br>
</form>
<hr>
<a href="/register"><input type="button" value="Registro"></a>
